/******************************************************************************** 
   Another custom-defined style e.g. to distinguish between production and test 
   This style has priority over scheduler.css 
*********************************************************************************/ 

/* Example */
/*
body.top table.top {background-color:white; color:gray;}
body.top table.bottom {background-color:white; color:gray;}
body.top div.button {border:1px solid gray;background-color:white;color:blue;}
body.top div.button:hover {color:orange;}
body.top div.selectbox_menu {border:1px solid gray;background-color:white;color:blue;}
body.top div.selectbox_extras {border:1px solid gray;background-color:white;color:blue;}
body.top select {background-color:white;color:blue;}
body.top select:hover {color:orange;}
#hide_button {background-color:white;}
*/
